[Unit]
Description=PoultryGPT FastAPI Service
After=network.target redis.service neo4j.service

[Service]
Type=simple
RemainAfterExit=yes
User=root
WorkingDirectory=/home/poultrygpt/code/middleware
ExecStart=/home/poultrygpt/code/middleware/run.sh
ExecStop=/home/poultrygpt/code/middleware/stop.sh

[Install]
WantedBy=multi-user.target
